body {
    background-color: #ffffff;
}
h1 {
    color: black
    }

}
section {
	margin-bottom: 20px
	float-left;
	color; border-bottom-left-radius: 
}
.name{
	background-color: blue
	color: white;
}


}
ul#nav {
	width: 940px; list-style: none; overflow: hidden; margin: -134px auto 25px auto;
}
	ul#nav li {
		width: 126px; 
		height: 33px;
		 float: left; 
		 padding: 13px 0 0 0;
		background: url(images/nav-bg.png);
		font-weight: bold; text-align: center; text-transform: uppercase;
}






.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
